<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <hr size="10" color="orange">
    <hr size="5" color="orange">
    <center>
      <img src="../static/union.png" alt="carImage" height="110", width="180">
      <h1 color="blue">Union Finance Welcomes You</h1>
      <h3><em>Check Eligibility for Loan</em></h3>
      <hr size="5" color="orange">
    <center>
     <h2>You Are {{eligibility}} for Loan</h2>
     <h3>{{mesg}}</h3>
    <center>

    <center>

  </body>
</html>
